<div id="<%= dom_id order_detail %>">
  <p>
    <strong>Order:</strong>
    <%= order_detail.order_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order_detail.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order_detail.quantity %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= order_detail.unit_price %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= order_detail.discount %>
  </p>

  <p>
    <strong>Order detail status:</strong>
    <%= order_detail.order_detail_status %>
  </p>

  <p>
    <strong>Date allocated:</strong>
    <%= order_detail.date_allocated %>
  </p>

</div>
