<p style="color: green"><%= notice %></p>

<%= render @order_detail %>

<div>
  <%= link_to "Edit this order detail", edit_order_detail_path(@order_detail) %> |
  <%= link_to "Back to order details", order_details_path %>

  <%= button_to "Destroy this order detail", @order_detail, method: :delete %>
</div>
