<%== pagy_nav(@pagy) if @pagy.pages > 1 %>

<style>

  .my-style {
    background-color: green;
    border: 1px solid black;
  }

</style>

<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<div id="customers">
  <% @customers.each do |customer| %>
    <%= render customer %>
    <p>
      <%= link_to "Show this customer", customer %>
    </p>
  <% end %>
</div>

<%= link_to "New customer", new_customer_path %>
