<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :employee_id, style: "display: block" %>
    <%= form.number_field :employee_id %>
  </div>

  <div>
    <%= form.label :customer_id, style: "display: block" %>
    <%= form.number_field :customer_id %>
  </div>

  <div>
    <%= form.label :order_date, style: "display: block" %>
    <%= form.datetime_field :order_date %>
  </div>

  <div>
    <%= form.label :shipped_date, style: "display: block" %>
    <%= form.datetime_field :shipped_date %>
  </div>

  <div>
    <%= form.label :ship_name, style: "display: block" %>
    <%= form.text_field :ship_name %>
  </div>

  <div>
    <%= form.label :ship_address1, style: "display: block" %>
    <%= form.text_field :ship_address1 %>
  </div>

  <div>
    <%= form.label :ship_address2, style: "display: block" %>
    <%= form.text_field :ship_address2 %>
  </div>

  <div>
    <%= form.label :ship_city, style: "display: block" %>
    <%= form.text_field :ship_city %>
  </div>

  <div>
    <%= form.label :ship_state, style: "display: block" %>
    <%= form.text_field :ship_state %>
  </div>

  <div>
    <%= form.label :ship_postal_code, style: "display: block" %>
    <%= form.text_field :ship_postal_code %>
  </div>

  <div>
    <%= form.label :ship_country, style: "display: block" %>
    <%= form.text_field :ship_country %>
  </div>

  <div>
    <%= form.label :shipping_fee, style: "display: block" %>
    <%= form.text_field :shipping_fee %>
  </div>

  <div>
    <%= form.label :payment_type, style: "display: block" %>
    <%= form.text_field :payment_type %>
  </div>

  <div>
    <%= form.label :paid_date, style: "display: block" %>
    <%= form.datetime_field :paid_date %>
  </div>

  <div>
    <%= form.label :order_status, style: "display: block" %>
    <%= form.text_field :order_status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
