<div id="<%= dom_id order %>">
  <p>
    <strong>Employee:</strong>
    <%= order.employee_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Order date:</strong>
    <%= order.order_date %>
  </p>

  <p>
    <strong>Shipped date:</strong>
    <%= order.shipped_date %>
  </p>

  <p>
    <strong>Ship name:</strong>
    <%= order.ship_name %>
  </p>

  <p>
    <strong>Ship address1:</strong>
    <%= order.ship_address1 %>
  </p>

  <p>
    <strong>Ship address2:</strong>
    <%= order.ship_address2 %>
  </p>

  <p>
    <strong>Ship city:</strong>
    <%= order.ship_city %>
  </p>

  <p>
    <strong>Ship state:</strong>
    <%= order.ship_state %>
  </p>

  <p>
    <strong>Ship postal code:</strong>
    <%= order.ship_postal_code %>
  </p>

  <p>
    <strong>Ship country:</strong>
    <%= order.ship_country %>
  </p>

  <p>
    <strong>Shipping fee:</strong>
    <%= order.shipping_fee %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= order.payment_type %>
  </p>

  <p>
    <strong>Paid date:</strong>
    <%= order.paid_date %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= order.order_status %>
  </p>

</div>
