<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :product_code, style: "display: block" %>
    <%= form.text_field :product_code %>
  </div>

  <div>
    <%= form.label :product_name, style: "display: block" %>
    <%= form.text_field :product_name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :standard_cost, style: "display: block" %>
    <%= form.text_field :standard_cost %>
  </div>

  <div>
    <%= form.label :list_price, style: "display: block" %>
    <%= form.text_field :list_price %>
  </div>

  <div>
    <%= form.label :target_level, style: "display: block" %>
    <%= form.number_field :target_level %>
  </div>

  <div>
    <%= form.label :reorder_level, style: "display: block" %>
    <%= form.number_field :reorder_level %>
  </div>

  <div>
    <%= form.label :minimum_reorder_quantity, style: "display: block" %>
    <%= form.number_field :minimum_reorder_quantity %>
  </div>

  <div>
    <%= form.label :quantity_per_unit, style: "display: block" %>
    <%= form.text_field :quantity_per_unit %>
  </div>

  <div>
    <%= form.label :discontinued, style: "display: block" %>
    <%= form.check_box :discontinued %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.text_field :category %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
