<div id="<%= dom_id product %>">
  <p>
    <strong>Product code:</strong>
    <%= product.product_code %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Standard cost:</strong>
    <%= product.standard_cost %>
  </p>

  <p>
    <strong>List price:</strong>
    <%= product.list_price %>
  </p>

  <p>
    <strong>Target level:</strong>
    <%= product.target_level %>
  </p>

  <p>
    <strong>Reorder level:</strong>
    <%= product.reorder_level %>
  </p>

  <p>
    <strong>Minimum reorder quantity:</strong>
    <%= product.minimum_reorder_quantity %>
  </p>

  <p>
    <strong>Quantity per unit:</strong>
    <%= product.quantity_per_unit %>
  </p>

  <p>
    <strong>Discontinued:</strong>
    <%= product.discontinued %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category %>
  </p>

</div>
